<div>
    <h4>New Phones</h4>
    <div class="row">
        <app-ng-content-child class="col-3">
            <h4 class="title">New In Iphone</h4>
            <div class="btn btn-more btn-success">Show More in Iphones</div>
        </app-ng-content-child>
        <app-ng-content-child class="col-3">
            <h4 class="title">New In Samsung</h4>
            <div class="btn btn-more btn-success">Show More in Samsung</div>
        </app-ng-content-child>
        <app-ng-content-child class="col-3">
            <h4 class="title">New In RealMe</h4>
            <div class="btn btn-more btn-success">Show More in RealMe</div>
        </app-ng-content-child>
        <app-ng-content-child class="col-3">
            <h4 class="title">New In Redmi</h4>
            <div class="btn btn-more btn-success">Show More in Redmi</div>
        </app-ng-content-child>
    </div>
</div>