<nav>
    <ul>
        <li class="nav__item" routerLinkActive="active">
            <a class="nav-link" routerLink="/ng-for">Ng For</a>
        </li>
        <li class="nav__item" routerLinkActive="active">
            <a class="nav-link" routerLink="/ng-style">Ng Style</a>
        </li>
        <li class="nav__item" routerLinkActive="active">
            <a class="nav-link" routerLink="/ng-if">Ng If</a>
        </li>
        <li class="nav__item" routerLinkActive="active">
            <a class="nav-link" routerLink="/ng-class">Ng Class</a>
        </li>
    </ul>
</nav>