<h1>Student Management</h1><br>
<nav>
    <ul class="nav-item">
        <li class="nav__item" routerLinkActive="active">
            <a class="nav-link" routerLink="/AddStudent">AddStudent</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/GetStudents">GetStudents</a>
        </li>
        <li class="nav__item" routerLinkActive="active">
            <a class="nav-link" href="/Calendar">Calendar</a>
        </li>
        <li class="nav__item" routerLinkActive="active">
            <a class="nav-link" href="/ListEvents">ListEvents</a>
        </li>
        <li class="nav__item" routerLinkActive="active">
            <a class="nav-link" routerLink="/webcam">WebCam</a>
        </li>
        <li class="nav__item" routerLinkActive="active">
            <a class="nav-link" routerLink="/devtool">Devtool Detect</a>
        </li>
        <li class="nav__item" routerLinkActive="active">
            <a class="nav-link" routerLink="/comment">Comment</a>
        </li>
        <li class="nav__item" routerLinkActive="active">
            <a class="nav-link" routerLink="/keyboard">Key board</a>
        </li>
        <li class="nav__item" routerLinkActive="active">
            <a class="nav-link" routerLink="/one-way-binding">One way binding</a>
        </li>
        <li class="nav__item" routerLinkActive="active">
            <a class="nav-link" routerLink="/two-way-binding">Two way binding</a>
        </li>
        <li class="nav__item" routerLinkActive="active">
            <a class="nav-link" routerLink="/route-directive">Directives</a>
        </li>
    </ul>
</nav>